<header>
    <nav class="topnav" role="navigation">
        <div class="topnav__menu">
            <a href="">
            <img class="topnav__menu__logo" src="../../../../assets/images/star_wars_logo.svg" alt="Logo Star Wars">
            </a>
            <a routerLink="/home" class="topnav__menu__link is-hover">Home</a>
            <a routerLink="/movies" class="topnav__menu__link">Filmes</a>
            <a routerLink="/spaceships" class="topnav__menu__link">Naves</a>
        </div>
    </nav>
</header>